@using OddsWebsite.Models
@model OddsWebsite.Models.ResultsPageModel
@{
    ViewData["Title"] = "Results";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<form method="post">
    <label asp-for="AvailableAmount"></label>
    <input asp-for="AvailableAmount" />
    <table>
        <tbody>
        <tr>
            <th><span>Sport</span></th>
            <th><span>Country</span></th>
            <th><span>League</span></th>
            <th><span>Total Records</span></th>
            <th><span>Success Rate</span></th>
            <th><span>Kelly Percentage</span></th>
            <th><span>Best Odd</span></th>
            <th><span>Amount to Bet</span></th>
            <th><span>Include in Bet</span></th>
        </tr>

        @foreach (var game in Model.GamesToGet)
        {
            <tr>
                <td><span>@game.Sport</span></td>
                <td><span>@game.Country</span></td>
                <td><span>@game.League</span></td>
                <td><span>@game.LeagueData.FullSummary.TotalRecords</span></td>
                <td><span>@game.LeagueData.FullSummary.SuccessRate</span></td>
                <td><span>@game.LeagueData.FullSummary.KellyPercentage</span></td>
                <td><span>@game.BestOdd</span></td>
                <td><span>@game.AmountToBet</span></td>
                <td><input type="checkbox" value="@game.BestOdd"/></td>
            </tr>
        }
        </tbody>
    </table>

    <div>
        <input type="submit" value="Send" />
    </div>
</form>
