@using OddsScrapper.Mvc.Controllers;
@model OddsScrapper.Mvc.ViewModels.ResultsViewModel

@{
    ViewBag.Title = "Download Results";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm(method: FormMethod.Post, htmlAttributes: new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)

    <div class="row">
        <div class="col-md-6">

            <div class="form-group">
                @Html.LabelFor(m => m.Date, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Date, "{0:d}", new { @class = "form-control datepicker" })
                @Html.ValidationMessageFor(m => m.Date)
            </div>

            <div class="form-group">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(m => m.SaveGamesToLocalFile) @Html.DisplayNameFor(m => m.SaveGamesToLocalFile)
                        @Html.ValidationMessageFor(m => m.SaveGamesToLocalFile)
                    </label>
                </div>
            </div>
            
            <div class="form-group">
                @Html.LabelFor(m => m.File, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.File, new { @class = "form-control", type = "file" })
                @Html.ValidationMessageFor(m => m.File)
            </div>

        </div>

        <div class="col-md-6">

        </div>

        <div class="col-md-12">
            <div class="pad-top">
                <button type="submit" name="submitButton" value="download" class="btn btn-success btn-lg margin-right" disabled="@Model.IsDownloading">
                    <span class="glyphicon glyphicon-save"></span> Download
                </button>
                <button type="submit" name="submitButton" value="cancel" class="btn btn-warning btn-lg" disabled="!@Model.IsDownloading">
                    <span class="glyphicon glyphicon-remove"></span> Cancel Download
                </button>
            </div>
        </div>
    </div>
}


