@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using OddsScrapper.Mvc.Controllers
@{
    var applicationName = "Odds Scrapper";
    var controllerName = GamesController.ControllerName;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @applicationName</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="~/favicon.ico" rel="icon" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Secular+One" rel="stylesheet">
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/lib/modernizr/src/Modernizr.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action(nameof(GamesController.Index), controllerName)">@applicationName</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        @Html.ActionLink("Home", nameof(GamesController.Index), controllerName, new { area = "", @class = "navbar-brand" })
                    </li>
                    <li>
                        @Html.ActionLink("Download Results", nameof(GamesController.DownloadResults), controllerName, new { area = "" })
                    </li>
                    <li>
                        @Html.ActionLink("Download Matches", nameof(GamesController.DownloadCommingGames), controllerName, new { area = "" })
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <footer>
            <p>&copy; @DateTime.Now.Year @applicationName, All Rights Reserved.</p>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/jquery-validate-bootstrap/jquery.validate.bootstrap.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script>
        $('input.datepicker').datepicker({
            format: 'm/d/yyyy'
        });
    </script>
</body>
</html>

